<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPortal" type="ReportPortal.Addins.RPC.COM.ReportPortalSection, ReportPortal.Addins.RPC.COM, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <reportPortal enabled="true" logConsoleOutput="true" debug="true" logFile ="C:\RPLog.txt" libraryPath ="C:/Users/Andrei_Bryleuski/Documents/Projects/Epam/RP/reportportal-net-develop/ReportPortal/Core/TestRP/bin/x86/Debug/EPAM.ReportPortal.Client.DLL">
    <server url="https://rp.epam.com/api/v1/" project="etas-rpdp">
      <authentication username="default" password="b967f6f7-5e1b-49c6-9dff-c8f53d28a454"/>
      <!-- <proxy server="host:port"/> -->
    </server>
    <launch name="VSTest Demo Launch" debugMode="true" tags="t1,t2"/>
  </reportPortal>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>